<section class="new-training" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title> Time to start a workout! </mat-card-title>
      <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field
        [style.display]="!(spinMe$ | async) && exercises ? 'block' : 'none'"
      >
        <mat-select
          placeholder="Select torture"
          ngModel
          [(value)]="torture"
          #tortureSelector="ngModel"
          required
        >
          <mat-option
            *ngFor="let exercise of exercises"
            [value]="exercise.id"
            >{{ exercise.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button
        [style.display]="!(spinMe$ | async) && exercises ? 'block' : 'none'"
        type="submit"
        (click)="onStartTraining()"
        mat-raised-button
        color="primary"
        [disabled]="tortureSelector.invalid"
      >
        Start
      </button>
      <mat-spinner *ngIf="(spinMe$ | async)"> </mat-spinner>
      <!-- <button
        (click)="fetchExercises()"
        mat-icon-button
        color="primary"
        [style.display]="!exercises ? 'block' : 'none'"
      >
        <mat-icon>refresh</mat-icon>
      </button> -->
    </mat-card-actions>
  </mat-card>
</section>
