<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">LOGO</a></div>
  <div fxFlex fxHide.xs align="end" fxLayoutGap="10px">
    <a *ngIf="!isAuth" routerLink="/signup">Signup</a>
    <a *ngIf="!isAuth" routerLink="/login">Login</a>
    <a *ngIf="isAuth" routerLink="/training">Training</a>
    <a *ngIf="isAuth" (click)="onLogout()">Logout</a>
  </div>
</mat-toolbar>
